<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1072778526022-ajgdnebeou1i1c0f559h0oioiia9adoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072778526022-ajgdnebeou1i1c0f559h0oioiia9adoa</string>
	<key>API_KEY</key>
	<string>AIzaSyD14fxBsfUQ5srn1kHk7O4l4DkjZsSa_WU</string>
	<key>GCM_SENDER_ID</key>
	<string>1072778526022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eigenads.workride</string>
	<key>PROJECT_ID</key>
	<string>workride-dc700</string>
	<key>STORAGE_BUCKET</key>
	<string>workride-dc700.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072778526022:ios:46e47e996222decb</string>
	<key>DATABASE_URL</key>
	<string>https://workride-dc700.firebaseio.com</string>
</dict>
</plist>